.contentContainer {
  --content-grid-gap: calc(var(--spacing-6) / 2);

  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;

  z-index: 100;
  position: relative;
  isolation: isolate;
  padding: var(--spacing-6);
  margin-top: var(--spacing-6);
}

.contentContainer::before {
  content: "";
  height: 1px;
  width: calc(100vw);
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

.contentContainer > * {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  :global(html[data-spacing-debug="true"]) .contentContainer::before {
    content: "";
    position: absolute;
    inset: var(--spacing-6);
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, #acffff calc(100% - var(--content-grid-gap)), transparent 0);
    background-repeat: repeat-x;
    background-size: calc((100% + var(--content-grid-gap)) / 24) 100%;
  }
}
