.footer {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-row-gap: var(--spacing-6);

  column-gap: var(--content-grid-gap);
  align-items: center;
}

.buttonContainer {
  grid-column: 1 / end;
  grid-row: 1;

  display: flex;
}

.claim {
  grid-column: 1 / 17;
  grid-row: 2;
}

.logoOne {
  grid-column: 18 / end;
  grid-row: 2;
}
.logoTwo {
  display: none;
}

.legalLinks {
  grid-column: 1 / 13;
  grid-row: 3;

  display: flex;
  flex-direction: row;
}

.logoOne img,
.logoTwo img {
  display: block;
  width: 100%;
  height: auto;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonContainer .buttonLabel {
  width: auto;
  height: var(--fontSize-4);
  max-width: none;
  flex: 0 0 auto;
}

/* Desktop */
@media screen and (min-width: 769px) {
  .footer {
    grid-template-rows: 1fr;
    align-items: end;
  }

  .claim {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  .buttonContainer {
    grid-column: 7 / 14;
    grid-row: 1;

    display: flex;
  }

  .legalLinks {
    grid-column: 16 / 18;
    grid-row: 1;
  }

  .logoOne {
    grid-column: 21 / 23;
    grid-row: 1;
  }

  .logoTwo {
    grid-column: 23 / 25;
    grid-row: 1;
  }

  .logoOne,
  .logoTwo {
    display: block;
  }
}
