.cityList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
}

.cityEntry {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.cityEntryClickable {
  cursor: pointer;
}

.cityEntryInactive {
  color: var(--accent);
}

.cityEntrySelected {
  color: inherit;
}

.cityEntryHighlighted {
  color: var(--accent);
}

.cityEntryHoverable:hover,
.cityEntryClickable:focus {
  color: var(--accent);
}

.cityEntryHoverable.cityEntryInactive:hover,
.cityEntryClickable.cityEntryInactive:focus {
  color: #000;
}

.cityEntryHoverable.cityEntrySelected:hover,
.cityEntryClickable.cityEntrySelected:focus {
  color: inherit;
}
