.introSection {
  margin-bottom: var(--spacing-3) !important;
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  row-gap: var(--spacing-6);
  column-gap: var(--content-grid-gap);

  .aboutNeverAtHome {
    grid-column: 5 / 25;
    grid-row: 1;
  }

  .aboutAustriaKulturInternational {
    grid-column: 5 / 25;
    grid-row: 2;
  }
}

.artBoardContainer {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  row-gap: var(--spacing-7);
  column-gap: var(--content-grid-gap);

  padding-bottom: var(--spacing-6);
  padding-top: var(--spacing-6);
  border-top: 1px solid black;

  .title {
    grid-row: 1;
    grid-column: 1 / 12;
  }

  .text {
    grid-row: 2;
    grid-column: 1 / 13;
  }

  .medium {
    grid-row: 2;
    grid-column: 13 / 25;
  }
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  column-gap: var(--content-grid-gap);
  row-gap: var(--spacing-7);

  border-top: 1px solid black;
  padding-top: var(--spacing-6);

  h3.title {
    grid-row: 1;
    grid-column: 1 / 13;
  }

  .text {
    grid-row: 2;
    grid-column: 1 / 13;
  }

  .teamPhotos {
    grid-row: 2;
    grid-column: 13 / 25;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    column-gap: var(--content-grid-gap);

    .teamMember {
      grid-column: span 12;
      display: flex;
      flex-direction: column;
      row-gap: calc(var(--content-grid-gap));
      margin-bottom: var(--spacing-5);
    }

    .teamMemberPortrait {
      aspect-ratio: 4 / 5;
      height: auto;

      & > :global(div) {
        aspect-ratio: 4 / 5 !important;
        height: 100% !important;
      }
    }

    .teamMember:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 769px) {
  .introSection {
    margin-bottom: var(--spacing-4) !important;
  }

  .aboutContainer {
    .aboutNeverAtHome {
      grid-row: 1;
      grid-column: 9 / 17;
    }

    .aboutAustriaKulturInternational {
      grid-row: 1;
      grid-column: 17 / 25;
    }
  }

  .artBoardContainer {
    .title {
      grid-row: 1;
      grid-column: 1 / 6;
    }

    .text {
      grid-row: 1;
      grid-column: 6 / 11;
    }

    .medium {
      grid-row: 1;
      grid-column: 13 / 25;
    }
  }

  .teamContainer {
    h3.title {
      grid-column: 1 / 6;
    }

    .text {
      grid-row: 1;
      grid-column: 6 / 11;
    }

    .teamPhotos {
      grid-row: 1;
      grid-column: 13 / 25;
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: var(--content-grid-gap);

      .teamMember {
        grid-column: span 4;
        min-width: 0;
        margin-bottom: 0;
        margin-bottom: var(--spacing-7);
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Wide Desktop (Verena's Screen) */
@media screen and (min-width: 1920px) {
  .aboutContainer {
    .aboutNeverAtHome {
      grid-row: 1;
      grid-column: 13 / 19;
    }

    .aboutAustriaKulturInternational {
      grid-row: 1;
      grid-column: 19 / 25;
    }
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
