.destinationContainer {
  .destinationGrid::after {
    content: "";
    height: 1px;
    width: calc(100vw - (2 * var(--spacing-6)));
    position: absolute;
    left: 0;
    bottom: calc(var(--spacing-6) * -1);
    background: #000;
  }

  .destinationGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-template-rows: auto auto auto 1fr;
    column-gap: var(--content-grid-gap);
    min-height: calc(90vh - var(--spacing-6));

    .institutionContainer {
      display: contents;

      .institutionName {
        grid-column: 1 / 25;
        grid-row: 1;
        margin-bottom: var(--spacing-6);
      }

      .institutionInfo {
        display: contents;

        .institutionMedium {
          grid-row: 2;
          grid-column: 1 / 13;
          align-self: start;
          height: auto;
          margin-bottom: var(--spacing-5);

          max-height: 30vh;

          img {
            object-fit: contain !important;
            max-height: 30vh;
            object-position: left center;
          }
        }

        .cityAbbreviation {
          grid-row: 4;
          grid-column: 1 / 12;
          align-self: end;
          display: flex;
          align-items: flex-end;
          line-height: 0;
          max-height: calc(var(--fontSize-1) * 0.725);
          overflow: visible;
        }

        .cityAbbreviationSvg {
          width: 100%;
          max-width: 100%;
          max-height: calc(var(--fontSize-1) * 0.725);
          height: auto;
          object-fit: contain;
          overflow: visible;
        }

        .cityAbbreviationSvgUndershoot {
          transform: translateY(2%);
        }

        .institutionText {
          grid-row: 2;
          grid-column: 13 / 25;
        }
      }
    }

    .destinationText {
      grid-column: 1 / 25;
      display: grid;
      // row-gap: var(--spacing-6);
      grid-template-columns: repeat(24, minmax(0, 1fr));
      column-gap: var(--content-grid-gap);

      .destinationDescription {
        grid-column: 5 / 25;
        grid-row: 3;
        margin-bottom: var(--spacing-5);
      }

      .trailText {
        grid-column: 13 / 25;
        grid-row: 4;
        align-self: end;
      }
    }

    .destinationTextSelected {
      display: contents;
    }
  }
}

@media screen and (min-width: 769px) {
  .destinationContainer {
    .destinationGrid {
      min-height: calc(var(--content-height) - 85px);
      display: grid;
      grid-template-columns: repeat(24, minmax(0, 1fr));
      grid-template-rows: auto 1fr;
      column-gap: var(--content-grid-gap);
      row-gap: var(--spacing-1);
      align-items: stretch;

      .institutionContainer {
        grid-column: 1 / 11;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        grid-template-rows: auto 1fr;
        column-gap: var(--content-grid-gap);
        align-self: stretch;
        height: 100%;

        .institutionName {
          grid-column: 1 / 11;
        }

        .institutionInfo {
          grid-column: 1 / 11;
          grid-row: 2;
          display: grid;
          grid-template-columns: repeat(10, minmax(0, 1fr));
          grid-template-rows: auto 1fr;
          column-gap: var(--content-grid-gap);
          row-gap: var(--spacing-3);
          height: 100%;
          min-height: 0;

          .institutionMedium {
            grid-row: 1;
            grid-column: 1 / 6;
            align-self: start;
            height: auto;
            max-height: 350px;
            margin-bottom: 0;

            img {
              object-fit: contain !important;
              max-height: 350px;
              object-position: left center;
            }
          }

          .institutionText {
            grid-row: 1;
            grid-column: 6 / 11;
          }

          .cityAbbreviation {
            grid-row: 2;
            grid-column: 1 / 9;
            align-self: end;
          }
        }

        .institutionInfoNoImage {
          .institutionText {
            grid-column: 1 / 8;
          }
        }
      }

      .destinationText {
        display: contents;

        .destinationDescription {
          grid-column: 13 / 25;
          grid-row: 1;
          margin-bottom: 0;
        }

        .trailText {
          grid-column: 13 / 20;
          grid-row: 2;
          align-self: end;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .destinationContainer {
    .destinationGrid {
      .institutionInfo {
        .institutionText {
          grid-row: 1;
          grid-column: 6 / 11;
        }
      }

      .destinationText {
        .destinationDescription {
          grid-column: 13 / 21;
        }

        .trailText {
          grid-column: 13 / 19;
          grid-row: 2;
          align-self: end;
        }
      }

      .institutionContainer {
        .institutionInfoNoImage {
          .institutionText {
            grid-column: 1 / 6;
          }
        }
      }
    }
  }
}

/* Large Format Screens */
@media screen and (min-width: 1920px) {
  .destinationContainer {
    .destinationGrid {
      .destinationText {
        .destinationDescription {
          grid-column: 13 / 19;
        }
      }
    }
  }
}
