:root {
  --fontSize-1: 14rem;
  --lineHeight-1: 1;
  --letterSpacing-1: -1rem;
  --paragraphSpacing-1: 0rem;

  --fontSize-2: 3.4rem;
  --lineHeight-2: 1;
  --letterSpacing-2: -0.2rem;
  ----paragraphSpacing-2: 0rem;

  --fontSize-3: 1.9rem;
  --lineHeight-3: 1;
  --letterSpacing-3: 0;
  ----paragraphSpacing-3: 0rem;

  --fontSize-4: 1.4rem;
  --lineHeight-4: 1;
  --letterSpacing-4: 0rem;
  --paragraphSpacing-4: 0rem;

  --fontSize-5: 1rem;
  --lineHeight-5: 1rem;
  --letterSpacing-5: 0rem;
  --paragraphSpacing-5: 0rem;

  --fontSize-6: 1rem;
  --lineHeight-6: 1rem;
  --letterSpacing-6: 0rem;
  --paragraphSpacing-6: 0rem;
}

@font-face {
  font-family: "TexGyreHeros";
  src:
    url("../../public/fonts/TexGyreHeros-regular.ttf") format("truetype"),
    url("../../public/fonts/TexGyreHeros-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TexGyreHeros";
  src: url("../../public/fonts/TexGyreHeros-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

h1,
[typo~="h1"] {
  font-size: var(--fontSize-1);
  line-height: var(--lineHeight-1);
  letter-spacing: var(--letterSpacing-1);

  /* background: red; */
}
h1 p,
[typo~="h1"] p {
  margin-bottom: var(--paragraphSpacing-1);
}

h2,
[typo~="h2"] {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
  letter-spacing: var(--letterSpacing-2);
}
h1 p,
[typo~="h1"] p {
  margin-bottom: var(--paragraphSpacing-2);
}

h3,
[typo~="h3"] {
  font-size: var(--fontSize-3);
  line-height: var(--lineHeight-3);
  letter-spacing: var(--letterSpacing-3);
}
h3 p,
[typo~="h3"] p {
  margin-bottom: var(----paragraphSpacing-3);
}

h4,
[typo~="h4"] {
  font-size: var(--fontSize-4);
  line-height: var(--lineHeight-4);
  letter-spacing: var(--letterSpacing-4);
}

[typo~="h4"] p {
  margin-bottom: var(--paragraphSpacing-4);
}

h5,
[typo~="h5"] {
  font-size: var(--fontSize-5);
  line-height: var(--lineHeight-5);
  letter-spacing: var(--letterSpacing-5);
}
h5 p,
[typo~="h5"] p {
  margin-bottom: var(--paragraphSpacing-5);
}

h6,
[typo~="h6"] {
  font-size: var(--fontSize-6);
  line-height: var(--lineHeight-6);
  letter-spacing: var(--letterSpacing-6);
}
h6 p,
[typo~="h6"] p {
  margin-bottom: var(--paragraphSpacing-6);
}

/* Font Compensation */
[typo~="h1"][typo~="compensate"] {
  --h1-undershoot: 0.08em;
  --h1-overshoot: 0.18em;

  margin-bottom: calc(var(--h1-undershoot) * -1) !important;
  margin-top: calc(var(--h1-overshoot) * -1);
}

[typo~="h2"][typo~="compensate"] {
  --h2-overshoot: 0.18em;

  margin-top: calc(var(--h2-overshoot) * -1);
}

[typo~="h3"][typo~="compensate"] {
  --h3-overshoot: 0.18em;

  margin-top: calc(var(--h3-overshoot) * -1);
}

[typo~="h4"][typo~="compensate"] {
  --h4-overshoot: 0.18em;

  margin-top: calc(var(--h4-overshoot) * -1);
}

@media screen and (min-width: 769px) {
  :root {
    --fontSize-1: clamp(20rem, calc(22.3547vw + 2.808rem), 35rem);
    --lineHeight-1: 1;
    --letterSpacing-1: clamp(-2rem, calc(-1.2774vw - 0.1605rem), -1.1429rem);
    --paragraphSpacing-1: 0rem;

    --fontSize-2: 6.5rem;
    --lineHeight-2: 1;
    --letterSpacing-2: -0.2rem;
    ----paragraphSpacing-2: 0rem;

    --fontSize-3: 3.8rem;
    --lineHeight-3: 1;
    --letterSpacing-3: 0;
    ----paragraphSpacing-3: 0rem;

    --fontSize-4: 2.2rem;
    --lineHeight-4: 1;
    --letterSpacing-4: 0rem;
    --paragraphSpacing-4: 0rem;

    --fontSize-5: 1.5rem;
    --lineHeight-5: 1.5rem;
    --letterSpacing-5: 0rem;
    --paragraphSpacing-5: 0rem;

    --fontSize-6: 1.2rem;
    --lineHeight-6: 1.2rem;
    --letterSpacing-6: 0rem;
    --paragraphSpacing-6: 0rem;
  }
}
