:root {
  --background: #fff;
  --foreground: #0a0a0a;

  --spacing-1: 200px; /* #2EE844 */
  --spacing-2: 135px; /* #2EE844 */
  --spacing-3: 60px; /* #E82E4B */
  --spacing-4: 40px; /* #FF9D00 */
  --spacing-5: 25px; /* #E8FD1C */
  --spacing-6: 9px; /* #E8842E */
  --spacing-6-5: 5px; /* #E8842E */
  --spacing-7: 5px; /* #0A00FF */
  --spacing-8: 5px; /* #00EBFF */
  --spacing-debug-1: #2ee844;
  --spacing-debug-2: #e12ee8;
  --spacing-debug-3: #e82e4b;
  --spacing-debug-4: #ff9d00;
  --spacing-debug-5: #e8fd1c;
  --spacing-debug-6: #e8842e;
  --spacing-debug-6-5: #f9b5ff;
  --spacing-debug-7: #0a00ff;
  --spacing-debug-8: #00ebff;

  --margin: 9px;
  --content-height: calc(100vh - 2 * var(--margin));
  --content-width: calc(100vw - 2 * var(--margin));

  --header-height: 23px;

  --accent: #aeb0b1;
  --interactive-hover-color: var(--accent);
  --selection-color: var(--accent);
  --opacity: 0.4;
  --transtition: 0.4s ease-in-out;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::selection {
  background: transparent;
  color: var(--selection-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
  overflow-anchor: none;

  font-family: "TexGyreHeros", Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-route="not-found"] {
  --background: #0a0a0a;
  --foreground: #fff;
}

html[data-route="not-found"],
html[data-route="not-found"] body {
  height: 100%;
  overflow: hidden;
}

main {
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

button {
  all: unset;
  height: 50px;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing-6);
  transition: var(--transtition);
}

.invert {
  background: var(--foreground);
  color: var(--background);

  transition: var(--transtition);
}

button.invert:hover {
  color: var(--interactive-hover-color);
}

button:hover {
  background: transparent;
  color: var(--interactive-hover-color);
}

#home-schedule {
  scroll-margin-top: calc(var(--spacing-6) * 0.7);
}

@media screen and (min-width: 769px) {
  :root {
    --spacing-1: 270px; /* #2EE844 */
    --spacing-2: 135px; /* #2EE844 */
    --spacing-3: 60px; /* #E82E4B */
    --spacing-4: 40px; /* #FF9D00 */
    --spacing-5: 25px; /* #E8FD1C */

    --spacing-6: 15px; /* #E8842E */
    --spacing-6-5: 10px; /* #E8842E */
    --spacing-7: 6px; /* #0A00FF */
    --spacing-8: 5px; /* #00EBFF */

    --margin: var(--spacing-6);
  }
}

.pageTransitionRoot {
  display: grid;
  /* min-height: 100vh; */
  min-height: 80vh;
}

.pageTransition {
  grid-area: 1 / 1;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

button {
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: var(--interactive-hover-color);
}

ul,
li {
  text-decoration: none;
  list-style: none;
}
