.page {
  /* Page-specific open call styles can live here. */
}

.faqSection {
  h4 {
    margin: var(--spacing-5) 0 var(--spacing-6-5) 0;
  }

  &:first-child h4 {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  .faqSection {
    h4 {
      margin: var(--spacing-6) 0 var(--spacing-6-5) 0;
    }
  }
}
