.juryGrid {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  column-gap: var(--content-grid-gap);
  row-gap: var(--spacing-3);

  .juryMemberContainer {
    grid-column: 1 / 25;

    .juryMemberContainerInner {
      display: grid;
      grid-template-columns: repeat(24, minmax(0, 1fr));

      column-gap: var(--content-grid-gap);
      row-gap: var(--spacing-6);

      .juryMemberName {
        grid-row: 1;
        grid-column: 1 / 25;
      }

      .juryMemberMedia {
        grid-row: 2;
        grid-column: 1 / 13;
        aspect-ratio: 4 / 5;
        align-self: start;
        height: auto;
      }

      .juryMemberBio {
        grid-row: 2;
        grid-column: 13 / 25;
      }
    }
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1024px) {
  .juryGrid {
    .juryMemberContainer:nth-child(odd) {
      grid-column: 1 / 11;
    }

    .juryMemberContainer:nth-child(even) {
      grid-column: 13 / 23;
    }

    .juryMemberContainerInner {
      grid-template-columns: repeat(10, minmax(0, 1fr));

      .juryMemberName {
        grid-column: 1 / 11;
      }

      .juryMemberMedia {
        grid-column: 1 / 6;
        aspect-ratio: 4 / 5;
        align-self: start;
        height: auto;
      }

      .juryMemberBio {
        grid-column: 6 / 11;
      }
    }
  }
}
