.juryGrid {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  column-gap: var(--content-grid-gap);
  row-gap: var(--spacing-3);

  .juryMemberContainer {
    grid-column: 1 / 25;
    position: relative;

    .divider {
      color: #000;
      border-style: solid;
      margin-bottom: var(--spacing-7);
      border: 0;
      border-top: 1px solid black;
    }

    .juryMemberContainerInner {
      display: grid;
      grid-template-columns: repeat(24, minmax(0, 1fr));

      column-gap: var(--content-grid-gap);
      row-gap: var(--spacing-6);

      .juryMemberName {
        grid-row: 1;
        grid-column: 1 / 25;
      }

      .juryMemberMedia {
        grid-row: 2;
        grid-column: 1 / 13;
        aspect-ratio: 4 / 5;
        align-self: start;
        height: auto;
      }

      .juryMemberText {
        grid-row: 2;
        grid-column: 13 / 25;
      }

      .juryMemberSocials {
        margin-top: var(--spacing-6-5);
      }
    }

    &:first-child .divider {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1024px) {
  .juryGrid {
    row-gap: var(--spacing-2);

    .juryMemberContainer:nth-child(odd) {
      grid-column: 1 / 13;
    }

    .juryMemberContainer:nth-child(even) {
      grid-column: 13 / 25;
    }

    .juryMemberContainer:nth-child(odd)::before {
      width: calc(100% + (2 * (100vw / 24)) - 5px);
    }

    .juryMemberContainer {
      .divider {
        margin-bottom: var(--spacing-6);
      }

      .juryMemberContainerInner {
        grid-template-columns: repeat(10, minmax(0, 1fr));

        .juryMemberName {
          grid-column: 1 / 11;
        }

        .juryMemberMedia {
          grid-column: 1 / 5;
          aspect-ratio: 4 / 5;
          align-self: start;
          height: auto;
        }

        .juryMemberText {
          grid-column: 5 / 9;
        }
      }

      &:first-child .divider {
        display: none;
      }
      &:nth-child(2) .divider {
        display: none;
      }
    }
  }
}
