/* .accordionEntry:first-child .header {
  padding-top: 0;
} */

.header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  user-select: none;
}

.headerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-7) 0;
}

.accordionEntry + .accordionEntry .header {
  border-top: 0;
}

.body {
  overflow: hidden;
  /* padding-bottom: var(--spacing-6); */
}

.bodyInner {
  padding: var(--spacing-2) 0 var(--spacing-6);
}

.openCloseButton {
  width: 0.5em;
  height: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateY(-3.5px); */
  transform-origin: center;
  transition: transform 0.25s ease;
}

.openCloseButtonOpen {
  transform: rotate(45deg);
}

.openCloseButton .openCloseIcon {
  width: 100%;
  height: 100%;
  max-width: none;
  flex: 0 0 auto;
  overflow: visible;
}

@media screen and (min-width: 769px) {
  .bodyInner {
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    column-gap: var(--content-grid-gap);
  }

  .bodyInner > * {
    grid-column: 1 / 8;
  }
}
